@import "generic-generator";

$default-paddings-sizes: ('xs': $padding-xs-size, 'sm': $padding-sm-size, 'md': $padding-md-size, 'lg': $padding-lg-size);
$default-paddings-sides: top, right, bottom, left;

//Mixin to generate paddings css classes
//ex: generate-paddings($sizes: (12px: '12'), $sides: top, $breakpoint: (md: 120px)); for specific padding using specific breakpoints
//ex: generate-paddings(); for default paddings ($padding-xs-size, $padding-sm-size, $padding-md-size, $padding-lg-size)
//ex: generate-paddings($breakpoints: null); if you don't need breakpoint


@mixin generate-paddings($sizes: $default-paddings-sizes, $sides: $default-paddings-sides, $breakpoints: $grid-breakpoints) {
	@each $breakpointKey, $breakpointValue in $breakpoints {
		@each $key, $value in $sizes {
			$breakpointMap: null;
			@if ($breakpoints) {
				$breakpointMap: ($breakpointKey: $breakpointValue);
			}

			//We generate without sides
			@include css-generator('padding', padding, ($key: $value), $breakpointMap);
			//We generate for each sides
			@if $sides {
				@each $side in $sides {
					@include css-generator(unquote('padding-' + $side), padding-#{$side}, ($key: $value), $breakpointMap);
				}
			}
		}
	}
}
