@mixin generate-pull($side) {
	.pull-#{$side} {
		@media(min-width: $screen-xs-min) {
			&-xs {
				float: left !important;
			}
		}

		@media(min-width: $screen-sm-max) {
			&-sm {
				float: left !important;
			}
		}

		@media(min-width: $screen-md-min) {
			&-md {
				float: left !important;
			}
		}

		@media(min-width: $screen-lg-min) {
			&-lg {
				float: left !important;
			}
		}
	}
}