@mixin generate-margins($xs, $sm, $md, $lg) {
  .margin-xs { margin: $xs !important; }
  .margin-sm { margin: $sm !important; }
  .margin-md { margin: $md !important; }
  .margin-lg { margin: $lg !important; }

  .margin-top-xs { margin-top: $xs !important; }
  .margin-top-sm { margin-top: $sm !important; }
  .margin-top-md { margin-top: $md !important; }
  .margin-top-lg { margin-top: $lg !important; }

  .margin-right-xs { margin-right: $xs !important; }
  .margin-right-sm { margin-right: $sm !important; }
  .margin-right-md { margin-right: $md !important; }
  .margin-right-lg { margin-right: $lg !important; }

  .margin-bottom-xs { margin-bottom: $xs !important; }
  .margin-bottom-sm { margin-bottom: $sm !important; }
  .margin-bottom-md { margin-bottom: $md !important; }
  .margin-bottom-lg { margin-bottom: $lg !important; }

  .margin-left-xs { margin-left: $xs !important; }
  .margin-left-sm { margin-left: $sm !important; }
  .margin-left-md { margin-left: $md !important; }
  .margin-left-lg { margin-left: $lg !important; }
}
