@mixin generate-paddings($xs, $sm, $md, $lg) {
  .padding-xs { padding: $xs !important; }
  .padding-sm { padding: $sm !important; }
  .padding-md { padding: $md !important; }
  .padding-lg { padding: $lg !important; }

  .padding-top-xs { padding-top: $xs !important; }
  .padding-top-sm { padding-top: $sm !important; }
  .padding-top-md { padding-top: $md !important; }
  .padding-top-lg { padding-top: $lg !important; }

  .padding-right-xs { padding-right: $xs !important; }
  .padding-right-sm { padding-right: $sm !important; }
  .padding-right-md { padding-right: $md !important; }
  .padding-right-lg { padding-right: $lg !important; }

  .padding-bottom-xs { padding-bottom: $xs !important; }
  .padding-bottom-sm { padding-bottom: $sm !important; }
  .padding-bottom-md { padding-bottom: $md !important; }
  .padding-bottom-lg { padding-bottom: $lg !important; }

  .padding-left-xs { padding-left: $xs !important; }
  .padding-left-sm { padding-left: $sm !important; }
  .padding-left-md { padding-left: $md !important; }
  .padding-left-lg { padding-left: $lg !important; }
}
