@import "generic-generator";

$default-texts-sizes: ('xs': $text-xs-size, 'sm': $text-sm-size, 'md': $text-md-size, 'lg': $text-lg-size);

//Mixin to generate text css font size
@mixin generate-texts($sizes: $default-texts-sizes, $breakpoints: $grid-breakpoints) {
	@each $key, $value in $sizes {
		//We generate without sides
		@include css-generator('text', font-size, ($key: $value), $breakpoints);
	}
}

.text-bold { font-weight: bold !important; }

.text-underline { text-decoration: underline !important; }

.text-strikethrough { text-decoration: line-through !important; }
